In [14]:
import os
import pandas as pd

In [4]:
import sys
!{sys.executable} -m pip install pyarrow --force-reinstall

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-20.0.0-cp311-cp311-win_amd64.whl (25.8 MB)
   ---------------------------------------- 0.0/25.8 MB ? eta -:--:--
   -- ------------------------------------- 1.6/25.8 MB 8.3 MB/s eta 0:00:03
   ----- ---------------------------------- 3.7/25.8 MB 8.4 MB/s eta 0:00:03
   -------- ------------------------------- 5.8/25.8 MB 8.8 MB/s eta 0:00:03
   ----------- ---------------------------- 7.6/25.8 MB 8.9 MB/s eta 0:00:03
   --------------- ------------------------ 9.7/25.8 MB 9.0 MB/s eta 0:00:02
   ----------------- ---------------------- 11.5/25.8 MB 9.0 MB/s eta 0:00:02
   -------------------- ------------------- 13.4/25.8 MB 9.0 MB/s eta 0:00:02
   ----------------------- ---------------- 15.5/25.8 MB 9.1 MB/s eta 0:00:02
   --------------------------- ------------ 17.6/25.8 MB 9.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.4/25.8 MB 9.3 MB/s eta 0:00:01
   -------------------------------- ------- 21.0/25.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------- ----- 22.3/25.8 MB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 24.4/25.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------  25.7/25.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 25.8/25.8 MB 8.6 MB/s eta 0:00:00
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 11.0.0
    Uninstalling pyarrow-11.0.0:
      Successfully uninstalled pyarrow-11.0.0
Successfully installed pyarrow-20.0.0

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# folder_path = "S-DoT_NATURE_2023년(2023.01.01~2024.01.01)"
# csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# # 필요한 컬럼만 선택
# use_columns = ['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)','습도 평균(%)']
# output_file = "merged_temperature_2023.csv"

# first_file = True

# for file in csv_files:
#     file_path = os.path.join(folder_path, file)
#     try:
#         # 필요한 컬럼만, 인코딩 지정하여 읽기
#         chunk = pd.read_csv(file_path, encoding='cp949', usecols=use_columns, low_memory=False)
        
#         # 바로 디스크에 저장 (append 방식)
#         chunk.to_csv(output_file, mode='w' if first_file else 'a', 
#                      header=first_file, index=False)
#         first_file = False
        
#         print(f"{file} → 처리 완료")
#     except Exception as e:
#         print(f"{file} 처리 중 오류 발생: {e}")

In [23]:
folder_path = "S-DoT_NATURE_2020년(2020.04.01~2021.01.03)"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼 정의
required_cols = ['시리얼', '등록일자', '기온(℃)', '상대습도( %)']
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        header_check = pd.read_csv(file_path, encoding='cp949', nrows=1)
        missing_cols = list(set(required_cols) - set(header_check.columns))

        if missing_cols:
            print(f"{file} → 필요한 열 누락: {missing_cols}, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols, low_memory=False)

        # 타입 변환
        temp_df['기온(℃)'] = pd.to_numeric(temp_df['기온(℃)'], errors='coerce')
        temp_df['상대습도( %)'] = pd.to_numeric(temp_df['상대습도( %)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['등록일자'] = temp_df['등록일자'].astype(str)

        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# Parquet 저장
merged_df.to_parquet("merged_2020.parquet", index=False)
print("Parquet 저장 완료: merged_2020.parquet")

S-DoT_NATURE_2020.04.01-04.30.csv → 필요한 열 누락: ['기온(℃)'], 건너뜀
S-DoT_NATURE_2020.05.01-05.31.csv → 필요한 열 누락: ['기온(℃)'], 건너뜀
S-DoT_NATURE_2020.06.01-06.30.csv → 필요한 열 누락: ['기온(℃)'], 건너뜀
S-DoT_NATURE_2020.07.01-07.31.csv → 필요한 열 누락: ['기온(℃)'], 건너뜀
S-DoT_NATURE_2020.08.01-08.31.csv → 필요한 열 누락: ['기온(℃)'], 건너뜀
S-DoT_NATURE_2020.09.01-09.30.csv → 필요한 열 누락: ['등록일자', '기온(℃)', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2020.10.01-10.31.csv → 필요한 열 누락: ['등록일자', '기온(℃)', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2020.11.01-11.08.csv → 필요한 열 누락: ['시리얼', '등록일자', '기온(℃)', '상대습도( %)'], 건너뜀

C:\Users\linaa\AppData\Local\Temp\ipykernel_15780\2608674384.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2020.11.09-11.15.csv → 병합 완료
S-DoT_NATURE_2020.11.16-11.22.csv → 병합 완료
S-DoT_NATURE_2020.11.23-11.29.csv → 병합 완료
S-DoT_NATURE_2020.11.30-12.06.csv → 병합 완료
S-DoT_NATURE_2020.12.07-12.13.csv → 병합 완료
S-DoT_NATURE_2020.12.14-12.20.csv → 병합 완료
S-DoT_NATURE_2020.12.21-12.27.csv → 병합 완료
S-DoT_NATURE_2020.12.28-01.03.csv → 병합 완료
Parquet 저장 완료: merged_2020.parquet

In [6]:
folder_path = "S-DoT_NATURE_2021년(2021.01.04~2022.01.02)"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼 정의
required_cols = ['시리얼', '등록일자', '기온(℃)', '상대습도( %)']
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        header_check = pd.read_csv(file_path, encoding='cp949', nrows=1)
        missing_cols = list(set(required_cols) - set(header_check.columns))

        if missing_cols:
            print(f"{file} → 필요한 열 누락: {missing_cols}, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols, low_memory=False)

        # 타입 변환
        temp_df['기온(℃)'] = pd.to_numeric(temp_df['기온(℃)'], errors='coerce')
        temp_df['상대습도( %)'] = pd.to_numeric(temp_df['상대습도( %)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['등록일자'] = temp_df['등록일자'].astype(str)

        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# Parquet 저장
merged_df.to_parquet("merged_2021.parquet", index=False)
print("Parquet 저장 완료: merged_2021.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_10324\2317661784.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2021.01.04-01.10.csv → 병합 완료
S-DoT_NATURE_2021.01.11-01.17.csv → 병합 완료
S-DoT_NATURE_2021.01.18-01.24.csv → 병합 완료
S-DoT_NATURE_2021.01.25-01.31.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.02.01-02.07.csv → 병합 완료
S-DoT_NATURE_2021.02.08-02.14.csv → 병합 완료
S-DoT_NATURE_2021.02.15-02.21.csv → 병합 완료
S-DoT_NATURE_2021.02.22-02.28.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.03.01-03.07.csv → 병합 완료
S-DoT_NATURE_2021.03.08-03.14.csv → 병합 완료
S-DoT_NATURE_2021.03.15-03.21.csv → 병합 완료
S-DoT_NATURE_2021.03.22-03.28.csv → 병합 완료
S-DoT_NATURE_2021.03.29-04.04.csv → 병합 완료
S-DoT_NATURE_2021.04.05-04.11.csv → 병합 완료
S-DoT_NATURE_2021.04.12-04.18.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.04.19-04.25.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.04.26-05.02.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.05.03-05.09.csv → 병합 완료
S-DoT_NATURE_2021.05.10-05.16.csv → 병합 완료
S-DoT_NATURE_2021.05.17-05.23.csv → 병합 완료
S-DoT_NATURE_2021.05.24-05.30.csv → 병합 완료
S-DoT_NATURE_2021.05.31-06.06.csv → 병합 완료
S-DoT_NATURE_2021.06.07-06.13.csv → 병합 완료
S-DoT_NATURE_2021.06.14-06.20.csv → 병합 완료
S-DoT_NATURE_2021.06.21-06.27.csv → 병합 완료
S-DoT_NATURE_2021.06.28-07.04.csv → 병합 완료
S-DoT_NATURE_2021.07.05-07.11.csv → 병합 완료
S-DoT_NATURE_2021.07.12-07.18.csv → 병합 완료
S-DoT_NATURE_2021.07.19-07.25.csv → 병합 완료
S-DoT_NATURE_2021.07.26-08.01.csv → 병합 완료
S-DoT_NATURE_2021.08.02-08.08.csv → 병합 완료
S-DoT_NATURE_2021.08.09-08.15.csv → 병합 완료
S-DoT_NATURE_2021.08.16-08.22.csv → 병합 완료
S-DoT_NATURE_2021.08.23-08.29.csv → 병합 완료
S-DoT_NATURE_2021.08.30-09.05.csv → 병합 완료
S-DoT_NATURE_2021.09.06-09.12.csv → 병합 완료
S-DoT_NATURE_2021.09.13-09.19.csv → 병합 완료
S-DoT_NATURE_2021.09.20-09.26.csv → 병합 완료
S-DoT_NATURE_2021.09.27-10.03.csv → 병합 완료
S-DoT_NATURE_2021.09.30-10.05.csv → 필요한 열 누락: ['등록일자', '상대습도( %)'], 건너뜀
S-DoT_NATURE_2021.10.04-10.10.csv → 병합 완료
S-DoT_NATURE_2021.10.11-10.17.csv → 병합 완료
S-DoT_NATURE_2021.10.18-10.24.csv → 병합 완료
S-DoT_NATURE_2021.10.25-10.31.csv → 병합 완료
S-DoT_NATURE_2021.11.01-11.07.csv → 병합 완료
S-DoT_NATURE_2021.11.08.csv → 병합 완료
S-DoT_NATURE_2021.11.09-11.14.csv → 필요한 열 누락: ['등록일자', '상대습도( %)', '기온(℃)'], 건너뜀
S-DoT_NATURE_2021.11.15-11.21.csv → 병합 완료
S-DoT_NATURE_2021.11.16-11.22.csv → 병합 완료
S-DoT_NATURE_2021.11.22-11.28.csv → 병합 완료
S-DoT_NATURE_2021.11.29-12.05.csv → 병합 완료
S-DoT_NATURE_2021.12.06-12.12.csv → 병합 완료
S-DoT_NATURE_2021.12.13-12.19.csv → 병합 완료
S-DoT_NATURE_2021.12.20-12.26.csv → 병합 완료
S-DoT_NATURE_2021.12.27-01.02.csv → 병합 완료
Parquet 저장 완료: merged_2021.parquet

In [20]:
folder_path = "S-DoT_NATURE_2022년(2022.01.03~2023.01.01)"

csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '등록일자', '기온(℃)', '상대습도( %)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        # 열 먼저 확인
        header_check = pd.read_csv(file_path, encoding='cp949', nrows=1)
        if not all(col in header_check.columns for col in required_cols):
            print(f"{file} → 필요한 열 누락, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['기온(℃)'] = pd.to_numeric(temp_df['기온(℃)'], errors='coerce')
        temp_df['상대습도( %)'] = pd.to_numeric(temp_df['상대습도( %)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['등록일자'] = temp_df['등록일자'].astype(str)

        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2022.parquet", index=False)
print("Parquet 저장 완료: merged_2022.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_15780\2818092921.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2022.01.03-01.09.csv → 병합 완료
S-DoT_NATURE_2022.01.10-01.16.csv → 병합 완료
S-DoT_NATURE_2022.01.17-01.23.csv → 병합 완료
S-DoT_NATURE_2022.01.24-01.30.csv → 병합 완료
S-DoT_NATURE_2022.01.31-02.06.csv → 병합 완료
S-DoT_NATURE_2022.02.07-02.13.csv → 병합 완료
S-DoT_NATURE_2022.02.14-02.20.csv → 병합 완료
S-DoT_NATURE_2022.02.21-02.27.csv → 병합 완료
S-DoT_NATURE_2022.02.28-03.06.csv → 병합 완료
S-DoT_NATURE_2022.03.07-03.13.csv → 병합 완료
S-DoT_NATURE_2022.03.14-03.20.csv → 병합 완료
S-DoT_NATURE_2022.03.21-03.27.csv → 병합 완료
S-DoT_NATURE_2022.03.28-04.03.csv → 병합 완료
S-DoT_NATURE_2022.04.04-04.10.csv → 병합 완료
S-DoT_NATURE_2022.04.11-04.17.csv → 병합 완료
S-DoT_NATURE_2022.04.18-04.24.csv → 병합 완료
S-DoT_NATURE_2022.04.25-05.01.csv → 병합 완료
S-DoT_NATURE_2022.05.02-05.08.csv → 병합 완료
S-DoT_NATURE_2022.05.09-05.15.csv → 병합 완료
S-DoT_NATURE_2022.05.16-05.22.csv → 병합 완료
S-DoT_NATURE_2022.05.23-05.29.csv → 병합 완료
S-DoT_NATURE_2022.05.30-06.05.csv → 병합 완료
S-DoT_NATURE_2022.06.06-06.12.csv → 병합 완료
S-DoT_NATURE_2022.06.13-06.19.csv → 병합 완료
S-DoT_NATURE_2022.06.20-06.26.csv → 병합 완료
S-DoT_NATURE_2022.06.27-07.03.csv → 병합 완료
S-DoT_NATURE_2022.07.04-07.10.csv → 병합 완료
S-DoT_NATURE_2022.07.11-07.17.csv → 병합 완료
S-DoT_NATURE_2022.07.18-07.24.csv → 병합 완료
S-DoT_NATURE_2022.07.25-07.31.csv → 병합 완료
S-DoT_NATURE_2022.08.01-08.07.csv → 병합 완료
S-DoT_NATURE_2022.08.08-08.14.csv → 병합 완료
S-DoT_NATURE_2022.08.15-08.21.csv → 병합 완료
S-DoT_NATURE_2022.08.22-08.28.csv → 병합 완료
S-DoT_NATURE_2022.08.29-09.04.csv → 병합 완료
S-DoT_NATURE_2022.09.05-09.11.csv → 병합 완료
S-DoT_NATURE_2022.09.12-09.18.csv → 병합 완료
S-DoT_NATURE_2022.09.19-09.25.csv → 병합 완료
S-DoT_NATURE_2022.09.26-10.02.csv → 병합 완료
S-DoT_NATURE_2022.10.03-10.09.csv → 병합 완료
S-DoT_NATURE_2022.10.10-10.16.csv → 병합 완료
S-DoT_NATURE_2022.10.17-10.23.csv → 병합 완료
S-DoT_NATURE_2022.10.24-10.30.csv → 병합 완료
S-DoT_NATURE_2022.10.31-11.06.csv → 병합 완료
S-DoT_NATURE_2022.11.07-11.13.csv → 병합 완료
S-DoT_NATURE_2022.11.14-11.20.csv → 병합 완료
S-DoT_NATURE_2022.11.21-11.27.csv → 병합 완료
S-DoT_NATURE_2022.11.28-12.04.csv → 병합 완료
S-DoT_NATURE_2022.12.05-12.11.csv → 필요한 열 누락, 건너뜀
S-DoT_NATURE_2022.12.12-12.13.csv → 필요한 열 누락, 건너뜀
S-DoT_NATURE_2022.12.14-12.18.csv → 병합 완료
S-DoT_NATURE_2022.12.19-12.25.csv → 병합 완료
S-DoT_NATURE_2022.12.26-12.28.csv → 병합 완료
S-DoT_NATURE_2022.12.29-01.01.csv → 필요한 열 누락, 건너뜀
Parquet 저장 완료: merged_2022.parquet

In [27]:
folder_path = "S-DoT_NATURE_2023년(2023.01.01~2024.01.01)"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        # 열 먼저 확인
        header_check = pd.read_csv(file_path, encoding='cp949', nrows=1)
        if not all(col in header_check.columns for col in required_cols):
            print(f"{file} → 필요한 열 누락, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['온도 평균(℃)'] = pd.to_numeric(temp_df['온도 평균(℃)'], errors='coerce')
        temp_df['습도 평균(%)'] = pd.to_numeric(temp_df['습도 평균(%)'], errors='coerce')
        
        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2023.parquet", index=False)
print("Parquet 저장 완료: merged_2023.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_20660\2427772196.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2023.01.01.csv → 병합 완료
S-DoT_NATURE_2023.01.02-01.08.csv → 병합 완료
S-DoT_NATURE_2023.01.09-01.15.csv → 병합 완료
S-DoT_NATURE_2023.01.16-01.22.csv → 병합 완료
S-DoT_NATURE_2023.01.23-01.29.csv → 병합 완료
S-DoT_NATURE_2023.01.30-02.05.csv → 병합 완료
S-DoT_NATURE_2023.02.06-02.12.csv → 병합 완료
S-DoT_NATURE_2023.02.13-02.19.csv → 병합 완료
S-DoT_NATURE_2023.02.20-02.26.csv → 병합 완료
S-DoT_NATURE_2023.02.27-03.05.csv → 병합 완료
S-DoT_NATURE_2023.03.06-03.12.csv → 병합 완료
S-DoT_NATURE_2023.03.13-03.19.csv → 병합 완료
S-DoT_NATURE_2023.03.20-03.26.csv → 병합 완료
S-DoT_NATURE_2023.03.27-04.02.csv → 병합 완료
S-DoT_NATURE_2023.04.03-04.09.csv → 병합 완료
S-DoT_NATURE_2023.04.10-04.16.csv → 병합 완료
S-DoT_NATURE_2023.04.17-04.23.csv → 병합 완료
S-DoT_NATURE_2023.04.24-04.30.csv → 병합 완료
S-DoT_NATURE_2023.05.01-05.07.csv → 병합 완료
S-DoT_NATURE_2023.05.08-05.14.csv → 병합 완료
S-DoT_NATURE_2023.05.15-05.21.csv → 병합 완료
S-DoT_NATURE_2023.05.22-05.28.csv → 병합 완료
S-DoT_NATURE_2023.05.29-06.04.csv → 병합 완료
S-DoT_NATURE_2023.06.05-06.11.csv → 병합 완료
S-DoT_NATURE_2023.06.12-06.18.csv → 병합 완료
S-DoT_NATURE_2023.06.19-06.25.csv → 병합 완료
S-DoT_NATURE_2023.06.26-07.02.csv → 병합 완료
S-DoT_NATURE_2023.07.03-07.09.csv → 병합 완료
S-DoT_NATURE_2023.07.10-07.16.csv → 병합 완료
S-DoT_NATURE_2023.07.17-07.23.csv → 병합 완료
S-DoT_NATURE_2023.07.24-07.30.csv → 병합 완료
S-DoT_NATURE_2023.07.31-08.06.csv → 병합 완료
S-DoT_NATURE_2023.08.07-08.13.csv → 병합 완료
S-DoT_NATURE_2023.08.14-08.20.csv → 병합 완료
S-DoT_NATURE_2023.08.21-08.27.csv → 병합 완료
S-DoT_NATURE_2023.08.28-09.03.csv → 병합 완료
S-DoT_NATURE_2023.09.04-09.10.csv → 병합 완료
S-DoT_NATURE_2023.09.11-09.17.csv → 병합 완료
S-DoT_NATURE_2023.09.18-09.24.csv → 병합 완료
S-DoT_NATURE_2023.09.25-10.01.csv → 병합 완료
S-DoT_NATURE_2023.10.02-10.08.csv → 병합 완료
S-DoT_NATURE_2023.10.09-10.15.csv → 병합 완료
S-DoT_NATURE_2023.10.16-10.22.csv → 병합 완료
S-DoT_NATURE_2023.10.23-10.29.csv → 병합 완료
S-DoT_NATURE_2023.10.30-11.05.csv → 병합 완료
S-DoT_NATURE_2023.11.06-11.12.csv → 병합 완료
S-DoT_NATURE_2023.11.13-11.19.csv → 병합 완료
S-DoT_NATURE_2023.11.20-11.26.csv → 병합 완료
S-DoT_NATURE_2023.11.27-12.03.csv → 병합 완료
S-DoT_NATURE_2023.12.04-12.10.csv → 병합 완료
S-DoT_NATURE_2023.12.11-12.17.csv → 병합 완료
S-DoT_NATURE_2023.12.18-12.24.csv → 병합 완료
S-DoT_NATURE_2023.12.25-12.31.csv → 병합 완료
Parquet 저장 완료: merged_2023.parquet

In [7]:
folder_path = "s-dot2024"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        header_check = pd.read_csv(file_path, encoding='cp949', nrows=1)
        missing_cols = list(set(required_cols) - set(header_check.columns))

        if missing_cols:
            print(f"{file} → 필요한 열 누락: {missing_cols}, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['온도 평균(℃)'] = pd.to_numeric(temp_df['온도 평균(℃)'], errors='coerce')
        temp_df['습도 평균(%)'] = pd.to_numeric(temp_df['습도 평균(%)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['측정시간'] = temp_df['측정시간'].astype(str)
        temp_df['자치구'] = temp_df['자치구'].astype(str)
        temp_df['행정동'] = temp_df['행정동'].astype(str)

        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2024.parquet", index=False)
print("Parquet 저장 완료: merged_2024.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_10324\3962774589.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2024.01.01-01.07.csv → 병합 완료
S-DoT_NATURE_2024.01.08-01.14.csv → 병합 완료
S-DoT_NATURE_2024.01.15-01.21.csv → 병합 완료
S-DoT_NATURE_2024.01.22-01.28.csv → 병합 완료
S-DoT_NATURE_2024.01.29-02.04.csv → 병합 완료
S-DoT_NATURE_2024.02.05-02.11.csv → 병합 완료
S-DoT_NATURE_2024.02.12-02.18.csv → 병합 완료
S-DoT_NATURE_2024.02.19-02.25.csv → 병합 완료
S-DoT_NATURE_2024.02.26-03.03.csv → 병합 완료
S-DoT_NATURE_2024.03.04-03.10.csv → 병합 완료
S-DoT_NATURE_2024.03.11-03.17.csv → 병합 완료
S-DoT_NATURE_2024.03.18-03.24.csv → 병합 완료
S-DoT_NATURE_2024.03.25-03.31.csv → 병합 완료
S-DoT_NATURE_2024.04.01-04.07.csv → 병합 완료
S-DoT_NATURE_2024.04.08-04.14.csv → 병합 완료
S-DoT_NATURE_2024.04.15-04.21.csv → 병합 완료
S-DoT_NATURE_2024.04.22-04.28.csv → 병합 완료
S-DoT_NATURE_2024.04.29-05.05.csv → 병합 완료
S-DoT_NATURE_2024.05.06-05.12.csv → 병합 완료
S-DoT_NATURE_2024.05.13-05.19.csv → 병합 완료
S-DoT_NATURE_2024.05.20-05.26.csv → 병합 완료
S-DoT_NATURE_2024.05.27-06.02.csv → 병합 완료
S-DoT_NATURE_2024.06.03-06.09.csv → 병합 완료
S-DoT_NATURE_2024.06.10-06.16.csv → 필요한 열 누락: ['습도 평균(%)', '온도 평균(℃)'], 건너뜀
S-DoT_NATURE_2024.06.17-06.23.csv → 필요한 열 누락: ['습도 평균(%)', '온도 평균(℃)'], 건너뜀
S-DoT_NATURE_2024.06.24-06.30.csv → 병합 완료
S-DoT_NATURE_2024.07.01-07.07.csv → 병합 완료
S-DoT_NATURE_2024.07.08-07.14.csv → 병합 완료
S-DoT_NATURE_2024.07.15-07.21.csv → 병합 완료
S-DoT_NATURE_2024.07.22-07.28.csv → 병합 완료
S-DoT_NATURE_2024.07.29-08.04.csv → 병합 완료
S-DoT_NATURE_2024.08.05-08.11.csv → 병합 완료
S-DoT_NATURE_2024.08.12-08.18.csv → 병합 완료
S-DoT_NATURE_2024.08.19-08.25.csv → 병합 완료
S-DoT_NATURE_2024.08.26-09.01.csv → 병합 완료
S-DoT_NATURE_2024.09.02-09.08.csv → 병합 완료
S-DoT_NATURE_2024.09.09-09.15.csv → 병합 완료
S-DoT_NATURE_2024.09.16-09.22.csv → 병합 완료
S-DoT_NATURE_2024.09.23-09.29.csv → 병합 완료
S-DoT_NATURE_2024.09.30-10.06.csv → 병합 완료
S-DoT_NATURE_2024.10.07-10.13.csv → 병합 완료
S-DoT_NATURE_2024.10.14-10.20.csv → 병합 완료
S-DoT_NATURE_2024.10.21-10.27.csv → 병합 완료
S-DoT_NATURE_2024.10.28-11.03.csv → 병합 완료
S-DoT_NATURE_2024.11.04-11.10.csv → 병합 완료
S-DoT_NATURE_2024.11.11-11.17.csv → 병합 완료
S-DoT_NATURE_2024.11.18-11.24.csv → 병합 완료
S-DoT_NATURE_2024.11.25-12.01.csv → 병합 완료
S-DoT_NATURE_2024.12.02-12.08.csv → 병합 완료
S-DoT_NATURE_2024.12.09-12.15.csv → 병합 완료
S-DoT_NATURE_2024.12.16-12.22.csv → 병합 완료
S-DoT_NATURE_2024.12.30-01.05.csv → 병합 완료
Parquet 저장 완료: merged_2024.parquet

In [15]:
merged_2023=pd.read_parquet("merged_2023.parquet")

In [ ]:
df = pd.read_pickle("merged_2023.parquet")

In [16]:
merged_2023.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    293729
습도 평균(%)    293729
dtype: int64

In [17]:
merged_2023[merged_2023.isnull().any(axis=1)]

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
1,OC3CL200011,2023-01-01_01:03:03,Seoul_Grand_Park,valet_parking1,NaN,NaN
6,OC3CL200017,2023-01-01_01:03:03,Gangdong-gu,Seongnae1(il)-dong,NaN,NaN
113,OC3CL200126,2023-01-01_01:03:03,Jung-gu,Sogong-dong,NaN,NaN
246,OC3CL210100,2023-01-01_01:03:03,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
276,V02Q1940055,2023-01-01_01:03:03,Guro-gu,Gu-ro5(o)-dong,NaN,NaN
...,...,...,...,...,...,...
7632493,V02Q1940518,2023-12-31_11:00:00,Seocho-gu,Jamwon-dong,NaN,NaN
7632495,V02Q1940129,2023-12-31_11:00:00,Gangnam-gu,Ilwon2-dong,NaN,NaN
7632497,V02Q1940423,2023-12-31_11:00:00,Seocho-gu,Bangbae2-dong,NaN,NaN
7632506,V02Q1940059,2023-12-31_11:00:00,Gangnam-gu,Gaepo2-dong,NaN,NaN
7632558,V02Q1940756,2023-12-31_11:00:00,Dongjak-gu,Sang-do4-dong,NaN,NaN

In [19]:
# 온도/습도 평균이 모두 null인 시리얼별 합산
null_only_serials = (
    merged_2023.groupby("시리얼")[['온도 평균(℃)', '습도 평균(%)']]
    .apply(lambda x: x.isnull().all().all())
)

# True인 시리얼만 필터링
null_only_serials = null_only_serials[null_only_serials].index.tolist()

In [31]:
null_only_serials

['OC3CL200011',
 'OC3CL200017',
 'OC3CL200126',
 'OC3CL210100',
 'V02Q1940059',
 'V02Q1940093',
 'V02Q1940384',
 'V02Q1940423',
 'V02Q1940444',
 'V02Q1940505',
 'V02Q1940568',
 'V02Q1940587',
 'V02Q1940589',
 'V02Q1940703',
 'V02Q1940728',
 'V02Q1940824',
 'V02Q1940856',
 'V02Q1940946',
 'V02Q1940954']

In [21]:
# 널값만 있는 시리얼 제거
cleaned_df_2023 = merged_2023[~merged_2023['시리얼'].isin(null_only_serials)]
cleaned_df_2023

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200010,2023-01-01_01:03:03,Seoul_Grand_Park,meeting_bridge2,-1.50,100.0
2,OC3CL200012,2023-01-01_01:03:03,Gwangjin-gu,Hwayang-dong,2.10,67.0
3,OC3CL200013,2023-01-01_01:03:03,Jongno-gu,Samcheong-dong,1.40,70.0
4,OC3CL200014,2023-01-01_01:03:03,Jung-gu,Myeong-dong,4.70,78.0
5,OC3CL200016,2023-01-01_01:03:03,Gangnam-gu,Apgujeong-dong,-40.00,69.0
...,...,...,...,...,...,...
7632583,OC3CL200250,2023-12-31_07:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0
7632584,OC3CL200250,2023-12-31_08:00:00,Gangbuk-gu,Beon3-dong,0.05,100.0
7632585,OC3CL200250,2023-12-31_09:00:00,Gangbuk-gu,Beon3-dong,0.08,100.0
7632586,OC3CL200250,2023-12-31_10:00:00,Gangbuk-gu,Beon3-dong,0.02,100.0
7632587,OC3CL200250,2023-12-31_11:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0

In [22]:
cleaned_df_2023.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    164664
습도 평균(%)    164664
dtype: int64

In [23]:
# 1. 날짜만 추출 (측정시간: yyyy-mm-dd HH:MM:SS → yyyy-mm-dd)
cleaned_df_2023['날짜'] = pd.to_datetime(cleaned_df_2023['측정시간'], format="%Y-%m-%d_%H:%M:%S").dt.date

cleaned_df_2023

C:\Users\linaa\AppData\Local\Temp\ipykernel_21772\4174156111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2023['날짜'] = pd.to_datetime(cleaned_df_2023['측정시간'], format="%Y-%m-%d_%H:%M:%S").dt.date

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%),날짜
0,OC3CL200010,2023-01-01_01:03:03,Seoul_Grand_Park,meeting_bridge2,-1.50,100.0,2023-01-01
2,OC3CL200012,2023-01-01_01:03:03,Gwangjin-gu,Hwayang-dong,2.10,67.0,2023-01-01
3,OC3CL200013,2023-01-01_01:03:03,Jongno-gu,Samcheong-dong,1.40,70.0,2023-01-01
4,OC3CL200014,2023-01-01_01:03:03,Jung-gu,Myeong-dong,4.70,78.0,2023-01-01
5,OC3CL200016,2023-01-01_01:03:03,Gangnam-gu,Apgujeong-dong,-40.00,69.0,2023-01-01
...,...,...,...,...,...,...,...
7632583,OC3CL200250,2023-12-31_07:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0,2023-12-31
7632584,OC3CL200250,2023-12-31_08:00:00,Gangbuk-gu,Beon3-dong,0.05,100.0,2023-12-31
7632585,OC3CL200250,2023-12-31_09:00:00,Gangbuk-gu,Beon3-dong,0.08,100.0,2023-12-31
7632586,OC3CL200250,2023-12-31_10:00:00,Gangbuk-gu,Beon3-dong,0.02,100.0,2023-12-31
7632587,OC3CL200250,2023-12-31_11:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0,2023-12-31

In [24]:
# 2. 그룹 평균 계산
group_avg = cleaned_df_2023.groupby(['시리얼', '날짜'])[['온도 평균(℃)', '습도 평균(%)']].transform('mean')

group_avg

          온도 평균(℃)    습도 평균(%)
0        -1.017391   71.565217
2         2.391304   46.652174
3         0.178261   51.217391
4         2.778261   56.391304
5       -40.000000   48.347826
...            ...         ...
7632583   0.047391  100.000000
7632584   0.047391  100.000000
7632585   0.047391  100.000000
7632586   0.047391  100.000000
7632587   0.047391  100.000000

[7503523 rows x 2 columns]

In [25]:
# 3. 결측값에 그룹 평균으로 채우기
cleaned_df_2023['온도 평균(℃)'] = cleaned_df_2023['온도 평균(℃)'].fillna(group_avg['온도 평균(℃)'])
cleaned_df_2023['습도 평균(%)'] = cleaned_df_2023['습도 평균(%)'].fillna(group_avg['습도 평균(%)'])

# 필요 없다면 날짜 컬럼 삭제
cleaned_df_2023.drop(columns='날짜', inplace=True)

C:\Users\linaa\AppData\Local\Temp\ipykernel_21772\787739367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2023['온도 평균(℃)'] = cleaned_df_2023['온도 평균(℃)'].fillna(group_avg['온도 평균(℃)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_21772\787739367.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2023['습도 평균(%)'] = cleaned_df_2023['습도 평균(%)'].fillna(group_avg['습도 평균(%)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_21772\787739367.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2023.drop(columns='날짜', inplace=True)

In [28]:
group_avg.isnull().sum()

온도 평균(℃)    158207
습도 평균(%)    158207
dtype: int64

In [27]:
cleaned_df_2023.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    158207
습도 평균(%)    158207
dtype: int64

In [29]:
null_rows_2023 =cleaned_df_2023[cleaned_df_2023.isnull().any(axis=1)]
null_rows_2023

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
276,V02Q1940055,2023-01-01_01:03:03,Guro-gu,Gu-ro5(o)-dong,NaN,NaN
345,V02Q1940129,2023-01-01_01:03:03,Gangnam-gu,Ilwon2(i)-dong,NaN,NaN
552,V02Q1940352,2023-01-01_01:03:03,Gangdong-gu,Sangil-dong,NaN,NaN
634,V02Q1940437,2023-01-01_01:03:03,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
890,V02Q1940700,2023-01-01_01:03:03,Mapo-gu,Dohwa-dong,NaN,NaN
...,...,...,...,...,...,...
7632483,V02Q1940368,2023-12-31_11:00:00,Seocho-gu,Yangjae1-dong,NaN,NaN
7632488,V02Q1940239,2023-12-31_11:00:00,Gangnam-gu,Daechi1-dong,NaN,NaN
7632493,V02Q1940518,2023-12-31_11:00:00,Seocho-gu,Jamwon-dong,NaN,NaN
7632495,V02Q1940129,2023-12-31_11:00:00,Gangnam-gu,Ilwon2-dong,NaN,NaN
7632558,V02Q1940756,2023-12-31_11:00:00,Dongjak-gu,Sang-do4-dong,NaN,NaN

In [37]:
null_by_serial = (
    null_rows_2023
    .groupby("시리얼")[['온도 평균(℃)', '습도 평균(%)']]
    .apply(lambda x: x.isnull().sum())
)

# 총 결측 수 계산
null_by_serial['총 결측 수'] = null_by_serial.sum(axis=1)

# 정렬
null_by_serial = null_by_serial.sort_values(by='총 결측 수', ascending=False)
null_by_serial

             온도 평균(℃)  습도 평균(%)  총 결측 수
시리얼
V02Q1940700      7286      7286   14572
V02Q1940437      6747      6747   13494
V02Q1940055      5913      5913   11826
OC3CL200062      5695      5695   11390
V02Q1940129      5669      5669   11338
...               ...       ...     ...
V02Q1940130         1         1       2
V02Q1940579         1         1       2
V02Q1940473         1         1       2
V02Q1940519         1         1       2
V02Q1940068         1         1       2

[76 rows x 3 columns]

In [38]:
# 시리얼별 전체 측정 횟수
total_count_by_serial = cleaned_df_2023['시리얼'].value_counts().sort_index()

# 결측률 (%) 계산
partial_nulls = null_by_serial.copy()
partial_nulls['총 행 수'] = total_count_by_serial* 2
partial_nulls['결측률 (%)'] = (partial_nulls['총 결측 수'] / (partial_nulls['총 행 수'])) * 100

In [39]:
partial_nulls

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940700      7286      7286   14572  14830  98.260283
V02Q1940437      6747      6747   13494  13656  98.813708
V02Q1940055      5913      5913   11826  12676  93.294415
OC3CL200062      5695      5695   11390  14662  77.683808
V02Q1940129      5669      5669   11338  14674  77.265912
...               ...       ...     ...    ...        ...
V02Q1940130         1         1       2  10900   0.018349
V02Q1940579         1         1       2  11650   0.017167
V02Q1940473         1         1       2  11632   0.017194
V02Q1940519         1         1       2  11744   0.017030
V02Q1940068         1         1       2  11888   0.016824

[76 rows x 5 columns]

In [41]:
serial_null_2023=partial_nulls.sort_values("결측률 (%)",ascending=False)
serial_null_2023

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940437      6747      6747   13494  13656  98.813708
V02Q1940700      7286      7286   14572  14830  98.260283
V02Q1940421      5414      5414   10828  11530  93.911535
V02Q1940055      5913      5913   11826  12676  93.294415
V02Q1940352      5355      5355   10710  13462  79.557272
...               ...       ...     ...    ...        ...
V02Q1940150         1         1       2  11296   0.017705
V02Q1940473         1         1       2  11632   0.017194
V02Q1940579         1         1       2  11650   0.017167
V02Q1940519         1         1       2  11744   0.017030
V02Q1940068         1         1       2  11888   0.016824

[76 rows x 5 columns]

In [42]:
serial_null_2023.to_pickle("serial_null_2023.pkl")

In [43]:
cleaned_df_2023.to_pickle("cleaned_df_2023.pkl")

In [58]:
filtered_df = merged_2023[merged_2023['시리얼'].isin("OC3CL210100")]
filtered_df

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
246,OC3CL210100,2023-01-01_01:03:03,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
1340,OC3CL210100,2023-01-01_02:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
2432,OC3CL210100,2023-01-01_03:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
3526,OC3CL210100,2023-01-01_04:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
4621,OC3CL210100,2023-01-01_05:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
...,...,...,...,...,...,...
7627818,OC3CL210100,2023-12-31_07:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7628836,OC3CL210100,2023-12-31_08:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7629855,OC3CL210100,2023-12-31_09:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7630875,OC3CL210100,2023-12-31_10:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7631932,OC3CL210100,2023-12-31_11:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN