In [1]:
import os
import pandas as pd

- S-DoT_NATURE_2024.06.10-06.16.csv → 필요한 열 누락: ['습도 평균(%)', '온도 평균(℃)'], 건너뜀
- S-DoT_NATURE_2024.06.17-06.23.csv → 필요한 열 누락: ['습도 평균(%)', '온도 평균(℃)'], 건너뜀
- S-DoT_NATURE_2024.12.30-01.05.csv → 1.1-1.5 제거

In [75]:
folder_path = "s-dot2024"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)
        missing_cols = list(set(required_cols) - set(header_check.columns))

        if missing_cols:
            print(f"{file} → 필요한 열 누락: {missing_cols}, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', usecols=required_cols,index_col=False, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['온도 평균(℃)'] = pd.to_numeric(temp_df['온도 평균(℃)'], errors='coerce')
        temp_df['습도 평균(%)'] = pd.to_numeric(temp_df['습도 평균(%)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['측정시간'] = temp_df['측정시간'].astype(str)
        temp_df['자치구'] = temp_df['자치구'].astype(str)
        temp_df['행정동'] = temp_df['행정동'].astype(str)

        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2024.parquet", index=False)
print("Parquet 저장 완료: merged_2024.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\1569642683.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

S-DoT_NATURE_2024.01.01-01.07.csv → 병합 완료
S-DoT_NATURE_2024.01.08-01.14.csv → 병합 완료
S-DoT_NATURE_2024.01.15-01.21.csv → 병합 완료
S-DoT_NATURE_2024.01.22-01.28.csv → 병합 완료
S-DoT_NATURE_2024.01.29-02.04.csv → 병합 완료
S-DoT_NATURE_2024.02.05-02.11.csv → 병합 완료
S-DoT_NATURE_2024.02.12-02.18.csv → 병합 완료
S-DoT_NATURE_2024.02.19-02.25.csv → 병합 완료
S-DoT_NATURE_2024.02.26-03.03.csv → 병합 완료
S-DoT_NATURE_2024.03.04-03.10.csv → 병합 완료
S-DoT_NATURE_2024.03.11-03.17.csv → 병합 완료
S-DoT_NATURE_2024.03.18-03.24.csv → 병합 완료
S-DoT_NATURE_2024.03.25-03.31.csv → 병합 완료
S-DoT_NATURE_2024.04.01-04.07.csv → 병합 완료
S-DoT_NATURE_2024.04.08-04.14.csv → 병합 완료
S-DoT_NATURE_2024.04.15-04.21.csv → 병합 완료
S-DoT_NATURE_2024.04.22-04.28.csv → 병합 완료
S-DoT_NATURE_2024.04.29-05.05.csv → 병합 완료
S-DoT_NATURE_2024.05.06-05.12.csv → 병합 완료
S-DoT_NATURE_2024.05.13-05.19.csv → 병합 완료
S-DoT_NATURE_2024.05.20-05.26.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\1569642683.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.05.27-06.02.csv → 병합 완료
S-DoT_NATURE_2024.06.03-06.09.csv → 병합 완료
Parquet 저장 완료: merged_2024.parquet

In [76]:
df_240101=pd.read_csv(r"s-dot2024/S-DoT_NATURE_2024.01.01-01.07.csv",encoding='cp949')

In [77]:
df_240101

,모델번호,시리얼,측정시간,지역,자치구,행정동,온도 최대(℃),온도 평균(℃),온도 최소(℃),습도 최대(%),...,암모니아 최대(ppm),암모니아 평균(ppm),암모니아 최소(ppm),황화수소 최대(ppm),황화수소 평균(ppm),황화수소 최소(ppm),오존 최대(ppm),오존 평균(ppm),오존 최소(ppm),등록일시
0,SDOT001,V02Q1940307,2024-01-01_12:07:00,residential_area,Jungnang-gu,Myeonmok3.8-dong,2.3,2.2,2.1,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 0:07
1,SDOT001,V02Q2300004,2024-01-01_12:07:00,main_street,Eunpyeong-gu,Bulgwang2-dong,-1.4,-1.6,-1.8,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 0:07
2,SDOT001,OC3CL210300,2024-01-01_12:07:00,residential_area,Jungnang-gu,Seongnae1-dong,-0.1,-0.3,-0.7,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 0:07
3,SDOT001,V02Q1940254,2024-01-01_12:07:00,residential_area,Jungnang-gu,Sinnae2-dong,0.8,0.7,0.6,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 0:07
4,SDOT001,V02Q1940311,2024-01-01_12:07:00,residential_area,Jungnang-gu,Junghwa1-dong,2.7,2.6,2.5,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-01 0:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165253,SDOT001,V02Q1940834,2024-01-07_11:07:00,residential_area,Dongjak-gu,Sadang4-dong,-5.4,-5.6,-6.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-07 23:08
165254,SDOT001,V02Q1940605,2024-01-07_11:07:00,residential_area,Mapo-gu,Seogyo-dong,-4.6,-4.8,-5.1,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-07 23:08
165255,SDOT001,V02Q1940467,2024-01-07_11:07:00,residential_area,Mapo-gu,Seongsan-dong1,-5.7,-5.9,-6.1,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-07 23:08
165256,SDOT001,V02Q1940292,2024-01-07_11:07:00,roads_and_parks,Dongjak-gu,Sadang2-dong,-4.8,-5.2,-5.4,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-07 23:08
165257,SDOT001,V02Q1940319,2024-01-07_11:07:00,residential_area,Dongjak-gu,Sang-do4-dong,-5.2,-5.5,-5.8,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-07 23:08

In [78]:
df_240701=pd.read_csv(r"s-dot2024-2\S-DoT_NATURE_2024.07.01-07.07.csv",encoding='cp949',index_col=False) #index_col=False!!!!!

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\842440960.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_240701=pd.read_csv(r"s-dot2024-2\S-DoT_NATURE_2024.07.01-07.07.csv",encoding='cp949',index_col=False) #index_col=False!!!!!

In [79]:
df_240701

,모델번호,시리얼,측정시간,지역,자치구,행정동,온도 최대(℃),온도 평균(℃),온도 최소(℃),습도 최대(%),...,암모니아 최대(ppm),암모니아 평균(ppm),암모니아 최소(ppm),황화수소 최대(ppm),황화수소 평균(ppm),황화수소 최소(ppm),오존 최대(ppm),오존 평균(ppm),오존 최소(ppm),등록일시
0,SDOT001,OC3CL200034,2024-07-01_12:07:00,main_street,Yangcheon-gu,Sinjeong4-dong,23.1,23.0,22.9,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-01 00:07:22
1,SDOT001,OC3CL200038,2024-07-01_12:07:00,main_street,Jongno-gu,Gahoe-dong,23.7,23.6,23.5,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-01 00:07:22
2,SDOT001,OC3CL200028,2024-07-01_12:07:00,main_street,Gwanak-gu,Nakseongdae-dong,24.0,23.9,23.9,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-01 00:07:22
3,SDOT001,OC3CL200014,2024-07-01_12:07:00,main_street,Jung-gu,Myeong-dong,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,2024-07-01 00:07:22
4,SDOT001,OC3CL200039,2024-07-01_12:07:00,main_street,Jongno-gu,Dongseon-dong,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-01 00:07:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177208,SDOT001,V02Q1940194,2024-07-07_11:07:00,residential_area,Dongjak-gu,Sadang1-dong,24.6,24.5,24.5,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-07 23:08:23
177209,SDOT001,V02Q1940834,2024-07-07_11:07:00,residential_area,Dongjak-gu,Sadang4-dong,24.5,24.4,24.3,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-07 23:08:23
177210,SDOT001,V02Q1940747,2024-07-07_11:07:00,traditional_markets,Dongjak-gu,Sang-do1-dong,24.5,24.4,24.3,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-07 23:08:23
177211,SDOT001,V02Q1940301,2024-07-07_11:07:00,traditional_markets,Dongjak-gu,Sadang2-dong,26.6,26.3,25.9,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-07 23:08:23
177212,SDOT001,V02Q1940947,2024-07-07_11:07:00,traditional_markets,Dongjak-gu,Sang-do1-dong,24.3,24.2,24.1,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-07-07 23:08:23

In [80]:
folder_path = "s-dot2024-2"
csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)
        missing_cols = list(set(required_cols) - set(header_check.columns))

        if missing_cols:
            print(f"{file} → 필요한 열 누락: {missing_cols}, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949', index_col=False, usecols=required_cols, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['온도 평균(℃)'] = pd.to_numeric(temp_df['온도 평균(℃)'], errors='coerce')
        temp_df['습도 평균(%)'] = pd.to_numeric(temp_df['습도 평균(%)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['측정시간'] = temp_df['측정시간'].astype(str)
        temp_df['자치구'] = temp_df['자치구'].astype(str)
        temp_df['행정동'] = temp_df['행정동'].astype(str)

        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2024_2.parquet", index=False)
print("Parquet 저장 완료: merged_2024_2.parquet")

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)
C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.07.01-07.07.csv → 병합 완료
S-DoT_NATURE_2024.07.08-07.14.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.07.15-07.21.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.07.22-07.28.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.07.29-08.04.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.08.05-08.11.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.08.12-08.18.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.08.19-08.25.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.08.26-09.01.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.09.02-09.08.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.09.09-09.15.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.09.16-09.22.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.09.23-09.29.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.09.30-10.06.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.10.07-10.13.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.10.14-10.20.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.10.21-10.27.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.10.28-11.03.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.11.04-11.10.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.11.11-11.17.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.11.18-11.24.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.11.25-12.01.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.12.02-12.08.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.12.09-12.15.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.12.16-12.22.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.12.23-12.29.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3955448830.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  header_check = pd.read_csv(file_path, encoding='cp949',index_col=False, nrows=1)

S-DoT_NATURE_2024.12.30-01.05.csv → 병합 완료
Parquet 저장 완료: merged_2024_2.parquet

In [81]:
merged_2024=pd.read_parquet("merged_2024.parquet")
merged_2024_2=pd.read_parquet("merged_2024_2.parquet")

In [82]:
merged_2024

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,V02Q1940307,2024-01-01_12:07:00,Jungnang-gu,Myeonmok3.8-dong,2.2,87.0
1,V02Q2300004,2024-01-01_12:07:00,Eunpyeong-gu,Bulgwang2-dong,-1.6,91.0
2,OC3CL210300,2024-01-01_12:07:00,Jungnang-gu,Seongnae1-dong,-0.3,100.0
3,V02Q1940254,2024-01-01_12:07:00,Jungnang-gu,Sinnae2-dong,0.7,92.0
4,V02Q1940311,2024-01-01_12:07:00,Jungnang-gu,Junghwa1-dong,2.6,85.0
...,...,...,...,...,...,...
3840865,V02Q1940192,2024-06-09_11:07:00,Gangnam-gu,Cheongdam-dong,23.5,67.0
3840866,V02Q1940389,2024-06-09_11:07:00,Dongjak-gu,Sindaebang2-dong,23.3,69.0
3840867,V02Q1940952,2024-06-09_11:07:00,Dongjak-gu,Sadang2-dong,23.4,67.0
3840868,V02Q1940357,2024-06-09_11:07:00,Dongjak-gu,Heukseok-dong,23.6,67.0
3840869,V02Q1940747,2024-06-09_11:07:00,Dongjak-gu,Sang-do1-dong,23.8,66.0

In [83]:
merged_2024_2

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200034,2024-07-01_12:07:00,Yangcheon-gu,Sinjeong4-dong,23.0,100.0
1,OC3CL200038,2024-07-01_12:07:00,Jongno-gu,Gahoe-dong,23.6,92.0
2,OC3CL200028,2024-07-01_12:07:00,Gwanak-gu,Nakseongdae-dong,23.9,100.0
3,OC3CL200014,2024-07-01_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
4,OC3CL200039,2024-07-01_12:07:00,Jongno-gu,Dongseon-dong,NaN,NaN
...,...,...,...,...,...,...
5078154,V02Q2300006,2025-01-05_23:07:00,Eunpyeong-gu,Jingwan-dong,2.3,NaN
5078155,V02Q2300001,2025-01-05_23:07:00,Gwanak-gu,Sinllim-dong,2.9,NaN
5078156,V02Q1941000,2025-01-05_23:07:00,Gwanak-gu,Sinllim-dong,4.6,84.0
5078157,V02Q2300002,2025-01-05_23:07:00,Gwanak-gu,Sinllim-dong,3.0,NaN
5078158,V02Q1941000,2025-01-05_23:07:00,Gwanak-gu,Sinllim-dong,4.6,84.0

In [84]:
df_240610=pd.read_csv(r"S-DoT_NATURE_2024.06.10-06.16.csv",encoding='cp949')

In [85]:
print(df_240610.columns.tolist())

['모델명', '시리얼', '측정시간', '지역', '자치구', '행정동', '온도 최대 (℃)', '온도 평균 (℃)', '온도 최소 (℃)', '습도 최대 (%)', '습도 평균 (%)', '습도 최소 (%)', '풍속 최대 (m/s)', '풍속 평균 (m/s)', '풍속 최소 (m/s)', '풍향 최대 (m/s)', '풍향 평균 (m/s)', '풍향 최소 (m/s)', '조도 최대 (lux)', '조도 평균 (lux)', '조도 최소 (lux)', '자외선 최대 (UV)', '자외선 평균 (UV)', '자외선 최대 (UV).1', '소음 최대 (dB )', '소음 평균 (dB )', '소음 최소 (dB )', '진동_x 최대 (mm/s)', '진동_x 평균(mm/s)', '진동_x 최소(mm/s)', '진동_y 최대(mm/s)', '진동_y 평균(mm/s)', '진동_y 최소(mm/s)', '진동_z 최대(mm/s)', '진동_z 평균(mm/s)', '진동_z 최소(mm/s)', '흑구온도 최대 (℃)', '흑구온도 평균 (℃)', '흑구온도 최소 (℃)', '이산화질소 최대 (ppm)', '이산화질소 평균 (ppm)', '이산화질소 최소 (ppm)', '일산화탄소 최대 (ppm)', '일산화탄소 평균 (ppm)', '일산화탄소 최소 (ppm)', '이산화황 최대 (ppm)', '이산화황 평균 (ppm)', '이산화황 최소 (ppm)', '암모니아 최대 (ppm)', '암모니아 평균 (ppm)', '암모니아 최소 (ppm)', '황화수소 최대 (ppm)', '황화수소 평균 (ppm)', '황화수소 최소 (ppm)', '오존 최대 (ppm)', '오존 평균 (ppm)', '오존 최소 (ppm)', '등록 일시']

In [86]:
# 형식 맞추기
df_240610.rename(columns={
     '온도 평균 (℃)' :'온도 평균(℃)',
    '습도 평균 (%)':'습도 평균(%)'
}, inplace=True)

In [87]:
df_240610=df_240610[['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']]
df_240610

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200022,2024-06-10_12:07:00,Gangnam-gu,Daechi4-dong,23.2,96.0
1,OC3CL200011,2024-06-10_12:07:00,Seoul_Grand_Park,valet_parking1,18.9,100.0
2,OC3CL200029,2024-06-10_12:07:00,Gwangjin-gu,Guui1-dong,23.7,100.0
3,OC3CL200016,2024-06-10_12:07:00,Gangnam-gu,Apgujeong-dong,23.5,61.0
4,OC3CL200021,2024-06-10_12:07:00,Gangnam-gu,Sinsa-dong,23.6,60.0
...,...,...,...,...,...,...
176259,V02Q1940389,2024-06-16_11:07:00,Dongjak-gu,Sindaebang2-dong,23.4,56.0
176260,V02Q1940834,2024-06-16_11:07:00,Dongjak-gu,Sadang4-dong,23.4,52.0
176261,V02Q1940301,2024-06-16_11:07:00,Dongjak-gu,Sadang2-dong,24.1,52.0
176262,V02Q1940605,2024-06-16_11:07:00,Mapo-gu,Seogyo-dong,25.4,48.0
176263,V02Q1940296,2024-06-16_11:07:00,Dongjak-gu,Daebang-dong,24.4,51.0

In [88]:
df_240617=pd.read_csv(r"S-DoT_NATURE_2024.06.17-06.23.csv",encoding='cp949')

In [89]:
# 형식 맞추기
df_240617.rename(columns={
     '온도 평균 (℃)' :'온도 평균(℃)',
    '습도 평균 (%)':'습도 평균(%)'
}, inplace=True)

In [90]:
df_240617=df_240617[['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']]
df_240617

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200042,2024-06-17_12:07:00,Jung-gu,Gwanghui-dong,24.1,44.0
1,OC3CL200018,2024-06-17_12:07:00,Seongdong-gu,Seongsu1ga2-dong,23.0,53.0
2,OC3CL200028,2024-06-17_12:07:00,Gwanak-gu,Nakseongdae-dong,23.4,72.0
3,OC3CL200040,2024-06-17_12:07:00,Jongno-gu,Ihwa-dong,22.5,100.0
4,OC3CL200011,2024-06-17_12:07:00,Seoul_Grand_Park,valet_parking1,19.3,100.0
...,...,...,...,...,...,...
182485,V02Q1940224,2024-06-23_11:07:00,Gangnam-gu,Yeoksam1-dong,23.2,90.0
182486,V02Q1940152,2024-06-23_11:07:00,Gangnam-gu,Yeoksam1-dong,23.2,95.0
182487,V02Q1940357,2024-06-23_11:07:00,Dongjak-gu,Heukseok-dong,23.4,89.0
182488,V02Q1940384,2024-06-23_11:07:00,Dongjak-gu,Sadang3-dong,NaN,NaN
182489,V02Q1940432,2024-06-23_11:07:00,Dongjak-gu,Sindaebang1-dong,23.7,90.0

In [91]:
df_240624=pd.read_csv(r"S-DoT_NATURE_2024.06.24-06.30.csv",index_col=False,encoding='cp949')

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\1684086903.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_240624=pd.read_csv(r"S-DoT_NATURE_2024.06.24-06.30.csv",index_col=False,encoding='cp949')

In [92]:
df_240624=df_240624[['시리얼', '측정시간', '자치구', '행정동', '온도 평균(℃)', '습도 평균(%)']]
df_240624

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200014,2024-06-27_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
1,OC3CL200021,2024-06-27_12:07:00,Gangnam-gu,Sinsa-dong,25.7,44.0
2,OC3CL200028,2024-06-27_12:07:00,Gwanak-gu,Nakseongdae-dong,24.1,76.0
3,OC3CL200026,2024-06-27_12:07:00,Gangseo-gu,Banghwa1-dong,-40.0,70.0
4,OC3CL200030,2024-06-27_12:07:00,Dobong-gu,Chang1-dong,23.2,59.0
...,...,...,...,...,...,...
103111,V02Q1940747,2024-06-30_11:07:00,Dongjak-gu,Sang-do1-dong,24.2,81.0
103112,V02Q1940605,2024-06-30_11:07:00,Mapo-gu,Seogyo-dong,24.7,81.0
103113,OC3CL200076,2024-06-30_11:07:00,Seocho-gu,Seocho3-dong,24.8,82.0
103114,V02Q1940357,2024-06-30_11:07:00,Dongjak-gu,Heukseok-dong,24.1,79.0
103115,V02Q1940432,2024-06-30_11:07:00,Dongjak-gu,Sindaebang1-dong,24.5,82.0

In [93]:
merged_2024 = pd.concat([merged_2024,merged_2024_2,df_240610,df_240617,df_240624], ignore_index=True)

In [94]:
merged_2024

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,V02Q1940307,2024-01-01_12:07:00,Jungnang-gu,Myeonmok3.8-dong,2.2,87.0
1,V02Q2300004,2024-01-01_12:07:00,Eunpyeong-gu,Bulgwang2-dong,-1.6,91.0
2,OC3CL210300,2024-01-01_12:07:00,Jungnang-gu,Seongnae1-dong,-0.3,100.0
3,V02Q1940254,2024-01-01_12:07:00,Jungnang-gu,Sinnae2-dong,0.7,92.0
4,V02Q1940311,2024-01-01_12:07:00,Jungnang-gu,Junghwa1-dong,2.6,85.0
...,...,...,...,...,...,...
9380894,V02Q1940747,2024-06-30_11:07:00,Dongjak-gu,Sang-do1-dong,24.2,81.0
9380895,V02Q1940605,2024-06-30_11:07:00,Mapo-gu,Seogyo-dong,24.7,81.0
9380896,OC3CL200076,2024-06-30_11:07:00,Seocho-gu,Seocho3-dong,24.8,82.0
9380897,V02Q1940357,2024-06-30_11:07:00,Dongjak-gu,Heukseok-dong,24.1,79.0
9380898,V02Q1940432,2024-06-30_11:07:00,Dongjak-gu,Sindaebang1-dong,24.5,82.0

In [95]:
merged_2024.to_pickle("merged_2024_after.pkl")

In [96]:
merged_2024.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    723485
습도 평균(%)    866936
dtype: int64

In [97]:
merged_2024[merged_2024.isnull().any(axis=1)]

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
29,V02Q1940568,2024-01-01_12:07:00,Jung-gu,Sindang-dong,NaN,NaN
30,V02Q1940604,2024-01-01_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
31,V02Q1940436,2024-01-01_12:07:00,Jung-gu,Hoehyeon-dong,NaN,NaN
40,OC3CL200014,2024-01-01_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
58,OC3CL200126,2024-01-01_12:07:00,Jung-gu,Changsin1-dong,NaN,NaN
...,...,...,...,...,...,...
9380845,V02Q1940423,2024-06-30_11:07:00,Seocho-gu,Bangbae2-dong,NaN,NaN
9380849,V02Q1940059,2024-06-30_11:07:00,Gangnam-gu,Gaepo2-dong,NaN,NaN
9380869,V02Q1940079,2024-06-30_11:07:00,Gangnam-gu,Ilwon1-dong,NaN,NaN
9380883,V02Q1940384,2024-06-30_11:07:00,Dongjak-gu,Sadang3-dong,NaN,NaN
9380889,V02Q1940239,2024-06-30_11:07:00,Gangnam-gu,Daechi1-dong,NaN,NaN

In [98]:
# target_values = {
#     '-10.2', '-12.0', '-14.1', '-15.7', '-16.9', '-17.0', '-17.5', '-17.6', '-18.0',
#     '-18.3', '-18.4', '-18.6', '-18.9', '-19.2', '-19.3', '-19.4', '-19.5', '-19.6',
#     '-19.7', '-19.8', '-2.8', '-20.0', '-20.1', '-20.2', '-20.4', '-20.5', '-20.7', '-20.8'
# }
# filtered_df = merged_2024[merged_2024['시리얼'].astype(str).isin(target_values)]
# filtered_df

In [99]:
# 온도/습도 평균이 모두 null인 시리얼별 합산
null_only_serials = (
    merged_2024.groupby("시리얼")[['온도 평균(℃)', '습도 평균(%)']]
    .apply(lambda x: x.isnull().all().all())
)

# True인 시리얼만 필터링
null_only_serials = null_only_serials[null_only_serials].index.tolist()

In [100]:
null_only_serials

['OC3CL200015', 'V02Q1940954']

In [101]:
# 널값만 있는 시리얼 제거
cleaned_df_2024 = merged_2024[~merged_2024['시리얼'].isin(null_only_serials)]
cleaned_df_2024

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,V02Q1940307,2024-01-01_12:07:00,Jungnang-gu,Myeonmok3.8-dong,2.2,87.0
1,V02Q2300004,2024-01-01_12:07:00,Eunpyeong-gu,Bulgwang2-dong,-1.6,91.0
2,OC3CL210300,2024-01-01_12:07:00,Jungnang-gu,Seongnae1-dong,-0.3,100.0
3,V02Q1940254,2024-01-01_12:07:00,Jungnang-gu,Sinnae2-dong,0.7,92.0
4,V02Q1940311,2024-01-01_12:07:00,Jungnang-gu,Junghwa1-dong,2.6,85.0
...,...,...,...,...,...,...
9380894,V02Q1940747,2024-06-30_11:07:00,Dongjak-gu,Sang-do1-dong,24.2,81.0
9380895,V02Q1940605,2024-06-30_11:07:00,Mapo-gu,Seogyo-dong,24.7,81.0
9380896,OC3CL200076,2024-06-30_11:07:00,Seocho-gu,Seocho3-dong,24.8,82.0
9380897,V02Q1940357,2024-06-30_11:07:00,Dongjak-gu,Heukseok-dong,24.1,79.0
9380898,V02Q1940432,2024-06-30_11:07:00,Dongjak-gu,Sindaebang1-dong,24.5,82.0

In [102]:
cleaned_df_2024.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    723268
습도 평균(%)    866719
dtype: int64

In [103]:
# 1. 날짜만 추출 (측정시간: yyyy-mm-dd HH:MM:SS → yyyy-mm-dd)
cleaned_df_2024['날짜'] = pd.to_datetime(cleaned_df_2024['측정시간'], format="%Y-%m-%d_%H:%M:%S").dt.date

cleaned_df_2024

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\2235566317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2024['날짜'] = pd.to_datetime(cleaned_df_2024['측정시간'], format="%Y-%m-%d_%H:%M:%S").dt.date

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%),날짜
0,V02Q1940307,2024-01-01_12:07:00,Jungnang-gu,Myeonmok3.8-dong,2.2,87.0,2024-01-01
1,V02Q2300004,2024-01-01_12:07:00,Eunpyeong-gu,Bulgwang2-dong,-1.6,91.0,2024-01-01
2,OC3CL210300,2024-01-01_12:07:00,Jungnang-gu,Seongnae1-dong,-0.3,100.0,2024-01-01
3,V02Q1940254,2024-01-01_12:07:00,Jungnang-gu,Sinnae2-dong,0.7,92.0,2024-01-01
4,V02Q1940311,2024-01-01_12:07:00,Jungnang-gu,Junghwa1-dong,2.6,85.0,2024-01-01
...,...,...,...,...,...,...,...
9380894,V02Q1940747,2024-06-30_11:07:00,Dongjak-gu,Sang-do1-dong,24.2,81.0,2024-06-30
9380895,V02Q1940605,2024-06-30_11:07:00,Mapo-gu,Seogyo-dong,24.7,81.0,2024-06-30
9380896,OC3CL200076,2024-06-30_11:07:00,Seocho-gu,Seocho3-dong,24.8,82.0,2024-06-30
9380897,V02Q1940357,2024-06-30_11:07:00,Dongjak-gu,Heukseok-dong,24.1,79.0,2024-06-30
9380898,V02Q1940432,2024-06-30_11:07:00,Dongjak-gu,Sindaebang1-dong,24.5,82.0,2024-06-30

In [104]:
# 2. 그룹 평균 계산
group_avg = cleaned_df_2024.groupby(['시리얼', '날짜'])[['온도 평균(℃)', '습도 평균(%)']].transform('mean')

group_avg

          온도 평균(℃)   습도 평균(%)
0         4.766667  74.416667
1         1.875000  76.666667
2         2.845833  92.125000
3         3.495833  80.375000
4         4.645833  74.500000
...            ...        ...
9380894  24.553571  85.178571
9380895  24.960714  85.857143
9380896  24.684615  89.538462
9380897  24.524138  83.310345
9380898  24.690000  86.100000

[9380682 rows x 2 columns]

In [105]:
# 3. 결측값에 그룹 평균으로 채우기
cleaned_df_2024['온도 평균(℃)'] = cleaned_df_2024['온도 평균(℃)'].fillna(group_avg['온도 평균(℃)'])
cleaned_df_2024['습도 평균(%)'] = cleaned_df_2024['습도 평균(%)'].fillna(group_avg['습도 평균(%)'])

# 필요 없다면 날짜 컬럼 삭제
cleaned_df_2024.drop(columns='날짜', inplace=True)

C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3590816670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2024['온도 평균(℃)'] = cleaned_df_2024['온도 평균(℃)'].fillna(group_avg['온도 평균(℃)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3590816670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2024['습도 평균(%)'] = cleaned_df_2024['습도 평균(%)'].fillna(group_avg['습도 평균(%)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_20344\3590816670.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2024.drop(columns='날짜', inplace=True)

In [106]:
group_avg.isnull().sum()

온도 평균(℃)    696948
습도 평균(%)    711627
dtype: int64

In [107]:
cleaned_df_2024.isnull().sum()

시리얼              0
측정시간             0
자치구              0
행정동              0
온도 평균(℃)    696948
습도 평균(%)    711627
dtype: int64

In [108]:
null_rows_2024 =cleaned_df_2024[cleaned_df_2024.isnull().any(axis=1)]
null_rows_2024

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
29,V02Q1940568,2024-01-01_12:07:00,Jung-gu,Sindang-dong,NaN,NaN
30,V02Q1940604,2024-01-01_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
31,V02Q1940436,2024-01-01_12:07:00,Jung-gu,Hoehyeon-dong,NaN,NaN
40,OC3CL200014,2024-01-01_12:07:00,Jung-gu,Myeong-dong,NaN,NaN
58,OC3CL200126,2024-01-01_12:07:00,Jung-gu,Changsin1-dong,NaN,NaN
...,...,...,...,...,...,...
9380845,V02Q1940423,2024-06-30_11:07:00,Seocho-gu,Bangbae2-dong,NaN,NaN
9380849,V02Q1940059,2024-06-30_11:07:00,Gangnam-gu,Gaepo2-dong,NaN,NaN
9380869,V02Q1940079,2024-06-30_11:07:00,Gangnam-gu,Ilwon1-dong,NaN,NaN
9380883,V02Q1940384,2024-06-30_11:07:00,Dongjak-gu,Sadang3-dong,NaN,NaN
9380889,V02Q1940239,2024-06-30_11:07:00,Gangnam-gu,Daechi1-dong,NaN,NaN

In [109]:
null_by_serial = (
    null_rows_2024
    .groupby("시리얼")[['온도 평균(℃)', '습도 평균(%)']]
    .apply(lambda x: x.isnull().sum())
)

# 총 결측 수 계산
null_by_serial['총 결측 수'] = null_by_serial.sum(axis=1)

# 정렬
null_by_serial = null_by_serial.sort_values(by='총 결측 수', ascending=False)
null_by_serial

             온도 평균(℃)  습도 평균(%)  총 결측 수
시리얼
V02Q1940059      9288      9288   18576
V02Q1940423      9170      9170   18340
V02Q1940239      9130      9130   18260
OC3CL210100      9130      9130   18260
V02Q1940093      9089      9089   18178
...               ...       ...     ...
V02Q1940331         1         1       2
V02Q1940551         1         1       2
V02Q1940533         1         1       2
V02Q1940681         1         1       2
V02Q1940516         0         1       1

[371 rows x 3 columns]

In [110]:
# 시리얼별 전체 측정 횟수
total_count_by_serial = cleaned_df_2024['시리얼'].value_counts().sort_index()

# 결측률 (%) 계산
partial_nulls = null_by_serial.copy()
partial_nulls['총 행 수'] = total_count_by_serial* 2
partial_nulls['결측률 (%)'] = (partial_nulls['총 결측 수'] / (partial_nulls['총 행 수'])) * 100

In [111]:
partial_nulls

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940059      9288      9288   18576  18672  99.485861
V02Q1940423      9170      9170   18340  18436  99.479280
V02Q1940239      9130      9130   18260  18740  97.438634
OC3CL210100      9130      9130   18260  18356  99.477010
V02Q1940093      9089      9089   18178  18274  99.474663
...               ...       ...     ...    ...        ...
V02Q1940331         1         1       2    436   0.458716
V02Q1940551         1         1       2    436   0.458716
V02Q1940533         1         1       2    548   0.364964
V02Q1940681         1         1       2  14426   0.013864
V02Q1940516         0         1       1  16264   0.006149

[371 rows x 5 columns]

In [112]:
serial_null_2024=partial_nulls.sort_values("결측률 (%)",ascending=False)
serial_null_2024

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940505      7581      7581   15162  15224  99.592748
V02Q1940587       217       217     434    436  99.541284
V02Q1940059      9288      9288   18576  18672  99.485861
V02Q1940423      9170      9170   18340  18436  99.479280
OC3CL210100      9130      9130   18260  18356  99.477010
...               ...       ...     ...    ...        ...
V02Q1940681         1         1       2  14426   0.013864
V02Q1940130         1         1       2  16210   0.012338
V02Q1940157         1         1       2  16316   0.012258
V02Q1940816         1         1       2  18116   0.011040
V02Q1940516         0         1       1  16264   0.006149

[371 rows x 5 columns]

In [114]:
serial_null_2024.to_pickle("serial_null_2024.pkl")

In [115]:
cleaned_df_2024.to_pickle("cleaned_df_2024.pkl")